##################################
##				##	
##	LATEX			##
##				##
##################################

*.log
*.toc
*.gz
*.aux
*.out
main.pdf
main.out
Formelle Dokumenter/Gruppekontrakt/gruppekontrakt.pdf
Database/Selfstudy 1/sw608f14-selfstudy1.pdf
*.blg
*.bbl
*~
*.nav

AAD/selfstudy 2/sw608f14.pdf
